/*----------------NAVBAR*/
.navbar
{
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#71a3ce;
}
.navbar a
{
    color: #4c7293;
}
.navbar-brand
{
    font-weight: 700;
    font-size: 1.4em !important;
}
.navbar-toggler-icon
{
    text-align: center;
}

.navbar-toggler-icon img
{
    width: 30px;
    height: 30px;
}

.navbar-nav ul
{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar-nav ul li
{
    transition: 500ms all;
    margin: 0 3px;
}
.nav-link
{
    padding: 0;
}
.navbar-nav ul li:hover
{
    
    transform: scale(1.1);
}

@media screen and (max-width:767px)
{
    .navbar-nav ul
    {
        flex-direction: column;
    }
}

/*----------------MAIN SECTION*/

.main-section
{
    height: 800px;
    background-image: url("images/main-section.jpg");
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.main-section-text
{
    margin-top: -150px;
}
.main-section-text h1
{
    font-size: 3.5em;
    font-weight: 700;
    color:  white;
}
.main-section-text button
{
    margin-top: 20px;
    border: 0;
    background: #4c7293;
    border: 2px solid #4c7293;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1.3em;
    transition: 500ms all;
}
.main-section-text button:hover
{
    background: none;
    border: 2px solid white;
}

@media screen and (max-width:768px)
{
    .main-section
    {
        padding: 20px;
        justify-content: center;
        height: 700px;
    }
    .main-section-text
    {
        text-align: center;
    }
    .main-section-text h1
    {
        font-size: 3em;
    }
    .main-section-text button
    {
        text-align: center;
    }
}

/*----------------ABOUT*/

.about-section
{
    width: 100%;
    margin: 0 auto;
}
.about-section h1
{
    font-size: 3.5em;
    text-align: center;
    color: #4c7293;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about-section-container
{
    margin: 0 auto !important;
}
.about-section-container-img
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section-container img
{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.about-section-container-text
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about-section-container-text p
{
    font-size: 1.5em;
    margin: auto 0;
    
}

@media screen and (max-width:768px)
{
    .about-section-container-text p
    {
        font-size: 1.1em;
        text-align: center;
    }
}

/*----------------SERVICES*/
.services h1
{
    text-align: center;
    font-size: 3.5em;
    margin: 80px 0 50px;
    color: #4c7293;
}
.services .row
{
    margin: 0 auto;
}

.services-card
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.services-card-icon
{
    width: 110px;
    height: 110px;
    border: 2px solid #4c7293;
    padding:20px;
    border-radius: 50%;
}
.services-card-icon img
{
    width: 100%;
    height: 100%;
}

.services-card h2
{
    margin: 20px 0;
    color: #4c7293;
}
.services-card p
{
    width: 80%;
    font-size: 1.4em;
    text-align: center;
}

@media screen and (max-width:768px)
{
    .services-card
    {
        margin: 30px 0;
    }
}